<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".request_success_doc"
            android:exported="false" />
        <activity
            android:name=".selectQuantity"
            android:exported="false" />
        <activity
            android:name=".patient_main_home"
            android:exported="false"
            android:label="@string/title_activity_patient_main_home"
            android:theme="@style/Theme.MediCare.NoActionBar" />
        <activity
            android:name=".requestSuccessFilemed"
            android:exported="false" />
        <activity
            android:name=".view_complaint"
            android:exported="false" />
        <activity
            android:name=".online_med_Payment_page"
            android:exported="false" />
        <activity
            android:name=".custom_medicine_booking"
            android:exported="false" />
        <activity
            android:name=".custom_doctorBooking"
            android:exported="false" />
        <activity
            android:name=".view_MedicineBooking"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".view_DoctorBooking"
            android:exported="false" />
        <activity
            android:name=".custom_view_hospital"
            android:exported="false" />
        <activity
            android:name=".view_near_Hospital"
            android:exported="false" />
        <activity
            android:name=".view_Schedule"
            android:exported="false" />
        <activity
            android:name=".custom_doctor_schedule"
            android:exported="false" />
        <activity
            android:name=".custom_view_pharmacy"
            android:exported="false" />
        <activity
            android:name=".view_Discount_Profile"
            android:exported="false" />
        <activity
            android:name=".view_Medicine_Profile"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity
            android:name=".view_Doctor_Profile"
            android:exported="false" />
        <activity
            android:name=".patient_home"
            android:exported="true" />
        <activity
            android:name=".view_Discount"
            android:exported="false" />
        <activity
            android:name=".view_near_Pharmacy"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".view_Discount" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".view_Medicine"
            android:exported="false" />
        <activity
            android:name=".send_complaint"
            android:exported="false" />
        <activity
            android:name=".view_Doctor"
            android:exported="false" />
        <activity
            android:name=".update_Profile"
            android:exported="false" />
        <activity
            android:name=".online_doc_Payment_page"
            android:exported="false" />
        <activity
            android:name=".view_Profile"
            android:exported="false" />
        <activity
            android:name=".signup_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="true" />
        <activity
            android:name=".ip_connect"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LocationService" />

        <activity
            android:name=".change_password"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>